addons-own/fso_con_zmr/doc/Spendenmeldung/Sonderausgaben/UebermittlungSonderausgaben_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Stand: 08.03.2017-->
<xsd:schema xmlns="https://finanzonline.bmf.gv.at/fon/ws/uebermittlungSonderausgaben" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://finanzonline.bmf.gv.at/fon/ws/uebermittlungSonderausgaben" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:element name="SonderausgabenUebermittlung">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Info_Daten" type="Info_Daten" minOccurs="0"/>
				<xsd:element name="MessageSpec" type="MessageSpec_Type"/>
				<xsd:element name="Sonderausgaben" type="Sonderausgaben_Type" minOccurs="1" maxOccurs="10000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Info_Daten">
		<xsd:sequence>
			<xsd:element name="Fastnr_Fon_Tn" type="FASTNR"/>
			<xsd:element name="Fastnr_Org" type="FASTNR"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Complex Types -->
	<xsd:complexType name="MessageSpec_Type">
		<xsd:sequence>
			<xsd:element name="MessageRefId" type="MessageRefId_Type"/>
			<xsd:element name="Timestamp" type="xsd:dateTime"/>
			<xsd:element name="Uebermittlungsart" type="Uebermittlungsart_EnumType"/>
			<xsd:element name="Zeitraum" type="ZR_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Sonderausgaben_Type">
		<xsd:sequence>
			<xsd:element name="RefNr" type="RefNrString"/>
			<xsd:element name="Betrag" type="PositiveDecimal" minOccurs="0"/>
			<xsd:element name="vbPK" type="vbPK_Type" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Uebermittlungs_Typ" type="Uebermittlungs_EnumType" use="required"/>
	</xsd:complexType>
	<!-- Simple Types -->
	<xsd:simpleType name="PositiveDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.01"/>
			<xsd:maxInclusive value="999999.99"/>
			<xsd:pattern value="\d{1,6}(\.\d{1,2})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefNrString">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="23"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z\-\\/]{1,23}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageRefId_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z\-]{1,36}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vbPK_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="172"/>
			<xsd:maxLength value="172"/>
			<xsd:pattern value="[0-9a-zA-Z\+/=]{172}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FASTNR">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9"/>
			<xsd:minLength value="9"/>
			<xsd:pattern value="[0-9]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZR_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="4"/>
			<xsd:pattern value="[2-9]{1}[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Uebermittlungs_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				E - Erstübermittlung, A - Änderungsübermittlung, S - Stornoübermittlung
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Uebermittlungsart_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				KK - Einrichtung Kunst und Kultur (gem. § 4a Abs 2 Z 5 EStG)
				SO - Karitative Einrichtungen (gem § 4a Abs 2 Z3 lit a bis c EStG)
				FW - Wissenschaftseinrichtungen (gem. 4a Abs 2Z 1 EStG)
				NT - Naturschutz und Tierheime (gem § 4a Abs 2 Z 3 lit d und e EStG)
				SN - Sammeleinrichtungen Naturschutz (gem § 4a Abs 2 Z 3 lit d und e EStG)
				SG - gemeinnützige Stiftungen (§ 4b EStG 1988, hinsichtlich Spenden)
				UN - Universitätetn, Kunsthochschulen, Akademie der bildenden Künste (inkl. Fakultäten, Institute und besondere Einrichtungen, § 4a Abs 3 Z 1 EStG)
				MÖ - Museen von Körperschaften öffentlichen Rechts (§ 4a Abs 4 lit b EStG)
				MP - Privatmuseen mit überregionaler Bedeutung (§ 4a Abs 4 lit b EStG)
				FF - Freiwillige Feuerwehren ( § 4a Abs 6 EStG) und Landesfeuerwehrverbände (§ 4a Abs 6 EStG)
				KR - Kirchen und Religionsgesellschaften mit verpflichtenden Beiträgen (§ 18 Abs 1 Z 5 EStG)
				PA - Pensionsversicherungsanstalten und Versorgungseinrichtungen (§ 18 Abs 1 Z 1a EStG)
				SE - Behindertensportdachverbände, Internationale Anti-Korruptions-Akademie, Diplomatische Akademie (§ 4a Abs 4 EStG)
				ZG - gemeinnützige Stiftungen (§ 4b EStG, hinsichtlich Zuwendungen zur Vermögensausstattung)
				SV - Spendensammeleinrichtungen karitativ (gem § 4a Abs 2 Z 3 lit a bis c EStG)
				ZI - Zuwendungen an die Innovationsstiftung für Bildung (§ 4c EStG 1988)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="KK"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="FW"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="UN"/>
			<xsd:enumeration value="MÖ"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="FF"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="ZG"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="ZI"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
