addons-own/fso_con_zmr/doc/wsdl/SZR.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:SZRServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:ecdsa="http://www.w3.org/2001/04/xmldsig-more#" xmlns:pd="http://reference.e-government.gv.at/namespace/persondata/20020228#" xmlns:pvp="http://egov.gv.at/pvp1.xsd" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:szr="urn:SZRServices" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://reference.e-government.gv.at/namespace/persondata/20020228#">
			<xs:complexType name="PhysicalPersonType">
				<xs:sequence>
					<xs:element minOccurs="0" name="Identification" type="pd:IdentificationType" />
					<xs:element minOccurs="1" name="Name" type="pd:PersonNameType" />
					<xs:element minOccurs="0" name="AlternativeName" type="pd:AlternativeNameType" />
					<xs:element minOccurs="0" name="Sex" type="xs:string" />
					<xs:element minOccurs="0" name="DateOfBirth" type="xs:string" />
					<xs:element minOccurs="0" name="PlaceOfBirth" type="xs:string" />
					<xs:element minOccurs="0" name="CountryOfBirth" type="xs:string" />
					<xs:element minOccurs="0" name="Nationality" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="IdentificationType">
				<xs:sequence>
					<xs:element minOccurs="0" name="Value" type="xs:string" />
					<xs:element minOccurs="0" name="Type" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonNameType">
				<xs:sequence>
					<xs:element minOccurs="0" name="PrefixedDegree" type="xs:string" />
					<xs:element name="GivenName" type="xs:string" nillable="true" />
					<xs:element name="FamilyName" type="xs:string" nillable="true" />
					<xs:element minOccurs="0" name="SuffixedDegree" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AlternativeNameType">
				<xs:sequence>
					<xs:element name="FamilyName" type="xs:string" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PostalAddressType">
				<xs:sequence>
					<xs:element minOccurs="0" name="PostalCode" type="xs:string" />
					<xs:element minOccurs="0" name="Municipality" type="xs:string" />
					<xs:element minOccurs="0" name="Locality" type="xs:string" />
					<xs:element minOccurs="0" name="StateCode3" type="xs:string" />
					<xs:element minOccurs="0" name="DeliveryAddress" type="pd:DeliveryAddressType" />
					<xs:element minOccurs="0" name="HistoricRecord" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeliveryAddressType">
				<xs:sequence>
					<xs:element minOccurs="0" name="AddressLine" type="xs:string" />
					<xs:element minOccurs="0" name="StreetName" type="xs:string" />
					<xs:element minOccurs="0" name="BuildingNumber" type="xs:string" />
					<xs:element minOccurs="0" name="Unit" type="xs:string" />
					<xs:element minOccurs="0" name="DoorNumber" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/04/xmldsig-more#">
			<xs:element name="ECDSAKeyValue" type="ecdsa:ECDSAKeyValueType" nillable="true" />
			<xs:complexType name="ECDSAKeyValueType">
				<xs:sequence>
					<xs:element minOccurs="0" name="DomainParameters" type="ecdsa:DomainParamsType" />
					<xs:element name="PublicKey" type="ecdsa:ECPointType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DomainParamsType">
				<xs:sequence>
					<xs:element minOccurs="0" name="NamedCurve" type="ecdsa:NamedCurveType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NamedCurveType">
				<xs:attribute name="URN" type="xs:string" use="required" />
			</xs:complexType>
			<xs:complexType name="ECPointType">
				<xs:sequence minOccurs="0">
					<xs:element name="X" type="ecdsa:PrimeFieldElemType" />
					<xs:element name="Y" type="ecdsa:PrimeFieldElemType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PrimeFieldElemType">
				<xs:attribute name="Value" type="xs:string" use="required" />
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.w3.org/2001/04/xmldsig-more#" />
			<xs:complexType name="KeyValueType">
				<xs:sequence>
					<xs:element minOccurs="0" name="DSAKeyValue" type="dsig:DSAKeyValueType" />
					<xs:element minOccurs="0" name="RSAKeyValue" type="dsig:RSAKeyValueType" />
					<xs:element minOccurs="0" ref="ecdsa:ECDSAKeyValue" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DSAKeyValueType">
				<xs:sequence>
					<xs:element minOccurs="0" name="P" type="xs:string" />
					<xs:element minOccurs="0" name="Q" type="xs:string" />
					<xs:element minOccurs="0" name="J" type="xs:string" />
					<xs:element minOccurs="0" name="G" type="xs:string" />
					<xs:element minOccurs="0" name="Y" type="xs:string" />
					<xs:element minOccurs="0" name="PgenCounter" type="xs:string" />
					<xs:element minOccurs="0" name="Seed" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RSAKeyValueType">
				<xs:sequence>
					<xs:element minOccurs="0" name="Modulus" type="xs:string" />
					<xs:element minOccurs="0" name="Exponent" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="urn:SZRServices">
			<xs:import namespace="http://reference.e-government.gv.at/namespace/persondata/20020228#" />
			<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
			<xs:element name="SZRException" type="szr:SZRException" />
			<xs:complexType name="SZRException" />
			<xs:complexType name="PersonInfoType">
				<xs:sequence>
					<xs:element name="Person" type="pd:PhysicalPersonType" />
					<xs:element minOccurs="0" name="RegularDomicile" type="pd:PostalAddressType" />
					<xs:element minOccurs="0" name="AddressCodes" type="szr:AddressCodesType" />
					<xs:element minOccurs="0" name="TravelDocument" type="szr:TravelDocumentType" />
					<xs:element minOccurs="0" name="DateOfBirthWildcard" type="xs:boolean" />
					<xs:element minOccurs="0" name="AuskunftssperreGesetzt" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TravelDocumentType">
				<xs:sequence>
					<xs:element minOccurs="0" name="DocumentNumber" type="xs:string" />
					<xs:element minOccurs="0" name="DocumentType" type="xs:string" />
					<xs:element minOccurs="0" name="IssueDate" type="xs:string" />
					<xs:element minOccurs="0" name="IssuingAuthority" type="xs:string" />
					<xs:element minOccurs="0" name="IssuingCountry" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AddressCodesType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GKZ" type="xs:string" />
					<xs:element minOccurs="0" name="OKZ" type="xs:string" />
					<xs:element minOccurs="0" name="SKZ" type="xs:string" />
					<xs:element minOccurs="0" name="ADRCD" type="xs:string" />
					<xs:element minOccurs="0" name="SUBCD" type="xs:string" />
					<xs:element minOccurs="0" name="OBJNR" type="xs:string" />
					<xs:element minOccurs="0" name="NTZLNR" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TransformBPK">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInfo" type="szr:PersonInfoType" />
						<xs:element name="InputBPK" type="xs:string" />
						<xs:element name="InputBereichsKennung" type="xs:string" />
						<xs:element name="Begruendung" type="xs:string" />
						<xs:element maxOccurs="unbounded" name="Target" type="szr:FremdBPKRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransformBPKResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="TransformBPKReturn" type="szr:FremdBPKType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetVKZPermission">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VKZ" type="xs:string" />
						<xs:element name="BereichsKennung" type="xs:string" />
						<xs:element minOccurs="0" name="ParticipantId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetVKZPermissionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetVKZPermissionReturn" type="szr:GetVKZPermissionResponseType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="IdentityLinkType">
				<xs:sequence>
					<xs:element name="PersonInfo" type="szr:PersonInfoType" />
					<xs:element name="Assertion" type="xs:anyType" />
					<xs:element minOccurs="0" name="AdditionalInfo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultRecord">
				<xs:sequence>
					<xs:element name="PersonInfo" type="szr:PersonInfoType" />
					<xs:element name="Register" type="xs:string" />
					<xs:element name="bPK" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPK" type="szr:FremdBPKType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetBPKKombiRequestType">
				<xs:sequence>
					<xs:element name="PersonInfo" type="szr:PersonInfoType" />
					<xs:element minOccurs="0" name="InsertERnP">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NoInsert" />
								<xs:enumeration value="InsertOnNoMatch" />
								<xs:enumeration value="ForceInsert" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="Suchwizard" type="xs:boolean" />
					<xs:element name="VKZ" type="xs:string" nillable="true" />
					<xs:element minOccurs="0" name="BehoerdenKennzeichen" type="xs:string" />
					<xs:element minOccurs="0" name="BereichsKennung" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="Target" type="szr:FremdBPKRequestType" />
					<xs:element minOccurs="0" name="Sessionid" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetBPKKombiResponseType">
				<xs:complexContent>
					<xs:extension base="szr:GetBPKZPVResponseType">
						<xs:sequence>
							<xs:element name="FoundWithSuchwizard" type="xs:boolean" />
							<xs:element name="Sessionid" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetBPKZPVRequestType">
				<xs:sequence>
					<xs:element name="PersonInfo" type="szr:PersonInfoType" />
					<xs:element minOccurs="0" name="InsertERnP" type="xs:boolean" default="false" />
					<xs:element minOccurs="1" name="VKZ" type="xs:string" />
					<xs:element minOccurs="0" name="BehoerdenKennzeichen" type="xs:string" />
					<xs:element minOccurs="0" name="BereichsKennung" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="Target" type="szr:FremdBPKRequestType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetBPKZPVResponseType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="ResultRecord" type="szr:ResultRecord" />
					<xs:element name="InsertERnPResult" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetIdentityLink">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInfo" type="szr:PersonInfoType" />
						<xs:element maxOccurs="unbounded" name="KeyValue" type="dsig:KeyValueType" />
						<xs:element minOccurs="0" name="InsertERnP" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetIdentityLinkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetIdentityLinkReturn" type="szr:IdentityLinkType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPK">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInfo" type="szr:PersonInfoType" />
						<xs:element minOccurs="0" name="BereichsKennung" type="xs:string" />
						<xs:element minOccurs="0" name="VKZ" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Target" type="szr:FremdBPKRequestType" />
						<xs:element minOccurs="0" name="ListMultiplePersons" type="xs:boolean" />
						<xs:element minOccurs="0" name="InsertERnP" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetBPKReturn" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPK" type="szr:FremdBPKType" />
						<xs:element maxOccurs="5" minOccurs="0" name="PersonInfo" type="szr:PersonInfoType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKs">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="PersonInfo" type="szr:PersonInfoType" />
						<xs:element minOccurs="0" name="BereichsKennung" type="xs:string" />
						<xs:element name="VKZ" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Target" type="szr:FremdBPKRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="ResultRecord" type="szr:GetBPKsResponseType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetBPKsResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" name="BPK" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPK" type="szr:FremdBPKType" />
					<xs:element minOccurs="0" name="Fault">
						<xs:complexType>
							<xs:attribute name="Code" type="xs:string" />
							<xs:attribute name="String" type="xs:string" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetBPKKombi">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetBPKKombiRequest" type="szr:GetBPKKombiRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKKombiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetBPKKombiResponse" type="szr:GetBPKKombiResponseType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKZPV">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetBPKZPVRequest" type="szr:GetBPKZPVRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBPKZPVResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GetBPKZPVResponse" type="szr:GetBPKZPVResponseType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidateIdentityLink">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IdentityLink" type="szr:IdentityLinkType" />
						<xs:element name="BereichsKennung" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidateIdentityLinkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidateIdentityLinkReturn" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BPKzuBasiszahl">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bereich" type="xs:string" />
						<xs:element name="BPK" type="xs:string" />
						<xs:element maxOccurs="unbounded" name="BasisZahl" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BPKzuBasiszahlResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BPKzuBasiszahlReturn" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="FremdBPKRequestType">
				<xs:sequence>
					<xs:element name="BereichsKennung" type="xs:string" />
					<xs:element name="VKZ" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FremdBPKType">
				<xs:sequence>
					<xs:element name="BereichsKennung" type="xs:string" />
					<xs:element name="FremdBPK" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetVKZPermissionResponseType">
				<xs:sequence>
					<xs:element name="isAllowed" type="xs:boolean" />
					<xs:element minOccurs="0" name="behSchluessel" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BasiszahlZuBPK">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="VKZ" type="xs:string" />
						<xs:element maxOccurs="unbounded" name="BasisZahl" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Bereich" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPKTargets" type="szr:FremdBPKRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="BasiszahlZuBPKReturnType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="BPK" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPKs" type="szr:FremdBPKType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BasiszahlZuBPKResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="BasiszahlZuBPKReturn" type="szr:BasiszahlZuBPKReturnType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZMRAnwendungsIntegration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bereich" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPKTargets" type="szr:FremdBPKRequestType" />
						<xs:element maxOccurs="unbounded" name="ZMRfremdbPK" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ZMRAnwendungsIntegrationReturnType">
				<xs:sequence>
					<xs:element name="BPK" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="FremdBPKs" type="szr:FremdBPKType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ZMRAnwendungsIntegrationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="ZMRAnwendungsIntegrationReturn" type="szr:ZMRAnwendungsIntegrationReturnType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetStammzahl">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInfo" type="szr:PersonInfoType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetStammzahlResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Stammzahl" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetVersion" />
			<xs:element name="GetVersionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Version" type="xs:string" />
						<xs:element name="Revision" type="xs:string" />
						<xs:element name="Time" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://egov.gv.at/pvp1.xsd">
			<xs:include schemaLocation="pvp1.xsd" />
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
			<xs:element name="Security">
				<xs:complexType>
					<xs:sequence>
						<!-- add the pvpToken here. You can also uncomment the following line if you support XSD 1.1 -->
						<!-- <xs:element ref="pvp:pvpToken" /> -->
						<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:anyAttribute processContents="lax" />
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="Header">
		<part name="SecurityHeader" element="wsse:Security" />
	</message>
	<message name="GetIdentityLinkRequest">
		<part element="szr:GetIdentityLink" name="parameters" />
	</message>
	<message name="GetIdentityLinkResponse">
		<part element="szr:GetIdentityLinkResponse" name="parameters" />
	</message>
	<message name="GetBPKRequest">
		<part element="szr:GetBPK" name="parameters" />
	</message>
	<message name="GetBPKResponse">
		<part element="szr:GetBPKResponse" name="parameters" />
	</message>
	<message name="GetBPKsRequest">
		<part element="szr:GetBPKs" name="parameters" />
	</message>
	<message name="GetBPKsResponse">
		<part element="szr:GetBPKsResponse" name="parameters" />
	</message>
	<message name="GetBPKKombiRequest">
		<part element="szr:GetBPKKombi" name="parameters" />
	</message>
	<message name="GetBPKKombiResponse">
		<part element="szr:GetBPKKombiResponse" name="parameters" />
	</message>
	<message name="GetBPKZPVRequest">
		<part element="szr:GetBPKZPV" name="parameters" />
	</message>
	<message name="GetBPKZPVResponse">
		<part element="szr:GetBPKZPVResponse" name="parameters" />
	</message>
	<message name="BPKzuBasiszahlRequest">
		<part element="szr:BPKzuBasiszahl" name="parameters" />
	</message>
	<message name="BPKzuBasiszahlResponse">
		<part element="szr:BPKzuBasiszahlResponse" name="parameters" />
	</message>
	<message name="BasiszahlZuBPKRequest">
		<part element="szr:BasiszahlZuBPK" name="parameters" />
	</message>
	<message name="BasiszahlZuBPKResponse">
		<part element="szr:BasiszahlZuBPKResponse" name="parameters" />
	</message>
	<message name="ValidateIdentityLinkRequest">
		<part element="szr:ValidateIdentityLink" name="parameters" />
	</message>
	<message name="ValidateIdentityLinkResponse">
		<part element="szr:ValidateIdentityLinkResponse" name="parameters" />
	</message>
	<message name="TransformBPKRequest">
		<part element="szr:TransformBPK" name="parameters" />
	</message>
	<message name="TransformBPKResponse">
		<part element="szr:TransformBPKResponse" name="parameters" />
	</message>
	<message name="GetVKZPermissionRequest">
		<part element="szr:GetVKZPermission" name="parameters" />
	</message>
	<message name="GetVKZPermissionResponse">
		<part element="szr:GetVKZPermissionResponse" name="parameters" />
	</message>
	<message name="ZMRAnwendungsIntegrationRequest">
		<part element="szr:ZMRAnwendungsIntegration" name="parameters" />
	</message>
	<message name="ZMRAnwendungsIntegrationResponse">
		<part element="szr:ZMRAnwendungsIntegrationResponse" name="parameters" />
	</message>
	<message name="GetStammzahlRequest">
		<part element="szr:GetStammzahl" name="parameters" />
	</message>
	<message name="GetStammzahlResponse">
		<part element="szr:GetStammzahlResponse" name="parameters" />
	</message>
	<message name="GetVersionRequest">
		<part element="szr:GetVersion" name="parameters" />
	</message>
	<message name="GetVersionResponse">
		<part element="szr:GetVersionResponse" name="parameters" />
	</message>
	<message name="SZRException">
		<part element="szr:SZRException" name="fault" />
	</message>
	<portType name="SZR">
		<operation name="GetIdentityLink">
			<input message="szr:GetIdentityLinkRequest" name="GetIdentityLinkRequest" />
			<output message="szr:GetIdentityLinkResponse" name="GetIdentityLinkResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetBPK">
			<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
				<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
			</jaxws:bindings>
			<input message="szr:GetBPKRequest" name="GetBPKRequest" />
			<output message="szr:GetBPKResponse" name="GetBPKResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetBPKs">
			<input message="szr:GetBPKsRequest" name="GetBPKsRequest" />
			<output message="szr:GetBPKsResponse" name="GetBPKsResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetBPKKombi">
			<input message="szr:GetBPKKombiRequest" name="GetBPKKombiRequest" />
			<output message="szr:GetBPKKombiResponse" name="GetBPKKombiResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetBPKZPV">
			<input message="szr:GetBPKZPVRequest" name="GetBPKZPVRequest" />
			<output message="szr:GetBPKZPVResponse" name="GetBPKZPVResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="ValidateIdentityLink">
			<input message="szr:ValidateIdentityLinkRequest" name="ValidateIdentityLinkRequest" />
			<output message="szr:ValidateIdentityLinkResponse" name="ValidateIdentityLinkResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="TransformBPK">
			<input message="szr:TransformBPKRequest" name="TransformBPKRequest" />
			<output message="szr:TransformBPKResponse" name="TransformBPKResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetVKZPermission">
			<input message="szr:GetVKZPermissionRequest" name="GetVKZPermissionRequest" />
			<output message="szr:GetVKZPermissionResponse" name="GetVKZPermissionResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="BPKzuBasiszahl">
			<input message="szr:BPKzuBasiszahlRequest" name="BPKzuBasiszahlRequest" />
			<output message="szr:BPKzuBasiszahlResponse" name="BPKzuBasiszahlResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="BasiszahlZuBPK">
			<input message="szr:BasiszahlZuBPKRequest" name="BasiszahlZuBPKRequest" />
			<output message="szr:BasiszahlZuBPKResponse" name="BasiszahlZuBPKResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="ZMRAnwendungsIntegration">
			<input message="szr:ZMRAnwendungsIntegrationRequest" name="ZMRAnwendungsIntegrationRequest" />
			<output message="szr:ZMRAnwendungsIntegrationResponse" name="ZMRAnwendungsIntegrationResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetStammzahl">
			<input message="szr:GetStammzahlRequest" name="GetStammzahlRequest" />
			<output message="szr:GetStammzahlResponse" name="GetStammzahlResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
		<operation name="GetVersion">
			<input message="szr:GetVersionRequest" name="GetVersionRequest" />
			<output message="szr:GetVersionResponse" name="GetVersionResponse" />
			<fault message="szr:SZRException" name="SZRException" />
		</operation>
	</portType>
	<binding name="SZRSoapBinding" type="szr:SZR">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetIdentityLink">
			<wsdlsoap:operation soapAction="" />
			<input name="GetIdentityLinkRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetIdentityLinkResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetBPK">
			<wsdlsoap:operation soapAction="" />
			<input name="GetBPKRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetBPKResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetBPKs">
			<wsdlsoap:operation soapAction="" />
			<input name="GetBPKsRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetBPKsResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetBPKKombi">
			<wsdlsoap:operation soapAction="" />
			<input name="GetBPKKombiRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetBPKKombiResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetBPKZPV">
			<wsdlsoap:operation soapAction="" />
			<input name="GetBPKZPVRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetBPKZPVResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetVKZPermission">
			<wsdlsoap:operation soapAction="" />
			<input name="GetVKZPermissionRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetVKZPermissionResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="ValidateIdentityLink">
			<wsdlsoap:operation soapAction="" />
			<input name="ValidateIdentityLinkRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="ValidateIdentityLinkResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="TransformBPK">
			<wsdlsoap:operation soapAction="" />
			<input name="TransformBPKRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="TransformBPKResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="BPKzuBasiszahl">
			<wsdlsoap:operation soapAction="" />
			<input name="BPKzuBasiszahlRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="BPKzuBasiszahlResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="BasiszahlZuBPK">
			<wsdlsoap:operation soapAction="" />
			<input name="BasiszahlZuBPKRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="BasiszahlZuBPKResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="ZMRAnwendungsIntegration">
			<wsdlsoap:operation soapAction="" />
			<input name="ZMRAnwendungsIntegrationRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="ZMRAnwendungsIntegrationResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetStammzahl">
			<wsdlsoap:operation soapAction="" />
			<input name="GetStammzahlRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetStammzahlResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
		<operation name="GetVersion">
			<wsdlsoap:operation soapAction="" />
			<input name="GetVersionRequest">
				<wsdlsoap:header message="szr:Header" part="SecurityHeader" use="literal" />
				<wsdlsoap:body use="literal" />
			</input>
			<output name="GetVersionResponse">
				<wsdlsoap:body use="literal" />
			</output>
			<fault name="SZRException">
				<wsdlsoap:fault name="SZRException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="SZRService">
		<port binding="szr:SZRSoapBinding" name="SZRTestumgebung">
			<wsdlsoap:address location="https://pvawp.bmi.gv.at/bmi.gv.at/soap/SZ2Services-T/services/SZR" />
		</port>
		<port binding="szr:SZRSoapBinding" name="SZRProduktionsumgebung">
			<wsdlsoap:address location="https://pvawp.bmi.gv.at/bmi.gv.at/soap/SZ2Services/services/SZR" />
		</port>
	</service>
</definitions>