addons-own/fso_con_zmr/doc/Spendenmeldung/Session/sessionService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="sessionService" targetNamespace="https://finanzonline.bmf.gv.at/fon/ws/session" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://finanzonline.bmf.gv.at/fon/ws/session" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
        <xsd:schema>
			<xsd:import namespace="https://finanzonline.bmf.gv.at/fon/ws/session" schemaLocation="session.xsd"/>
		</xsd:schema>
  </types>
  
  <message name="logoutRequest">
    <part element="tns:logoutRequest" name="parameters"/>
  </message>
  <message name="loginRequest">
    <part element="tns:loginRequest" name="parameters"/>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"/>
  </message>
  <message name="logoutResponse">
    <part element="tns:logoutResponse" name="parameters"/>
  </message>
  
  <portType name="sessionServicePort">
    <operation name="login">
      <input message="tns:loginRequest" name="loginRequest"/>
      <output message="tns:loginResponse" name="loginResponse"/>
    </operation>
    <operation name="logout">
      <input message="tns:logoutRequest" name="logoutRequest"/>
      <output message="tns:logoutResponse" name="logoutResponse"/>
    </operation>
  </portType>
  
  <binding name="sessionServiceBinding" type="tns:sessionServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="login">
      <soap:operation soapAction="login"/>
      <input name="loginRequest">
        <soap:body use="literal"/>
      </input>
      <output name="loginResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="logout"/>
      <input name="logoutRequest">
        <soap:body use="literal"/>
      </input>
      <output name="logoutResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
  
  <service name="sessionService">
    <port binding="tns:sessionServiceBinding" name="session">
      <soap:address location="https://finanzonline.bmf.gv.at:443/fonws/ws/sessionService"/>
    </port>
  </service>
</definitions>